# Ignorer le dossier final généré par Hugo
public/
resources/_gen/

# Ignorer mes notes secrètes ou brouillons persos
content/windows/ma-note-privee.md
notes-privees/
commande-utiles.txt
# Ignorer les fichiers système du gestionnaire de fichiers
.DS_Store
Thumbs.db
